* {
    border: 1px solid red;
    font-family: 'Roboto';
}

body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    background-color: #1F2937;
    margin-bottom: 48px;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAf8;
    font-weight: bold;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

ul {
    display: flex;
    padding: 0px;
    gap: 16px;
}

.hero {
    background-color: #1F2937;
    padding: 0px 15%;
}

.hero-left {
    
}

.hero-right {

}

.hero-main-text {
    color: #F9FAf8;
    margin: 0px;
}

.hero-second-text {
    color: #E5E7EB;
}

.placeholder {
    color: #E5E7EB;
}