* {
    border: 1px solid red;
}

body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    
}

.header-logo {
    font-size: 24px;
    color: #F9FAf8
}

ul{
    padding: 0px;
}

